<%= form_for(@search_set) do |f| %>
  <% if @search_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_set.errors.count, "error") %> prohibited this search_set from being saved:</h2>

      <ul>
      <% @search_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if user_signed_in? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
  <%= f.label :search_query_string, :Search %>
  <%= f.text_field :search_query_string %>
  <% if user_signed_in? %>
    <%= f.submit :value => "Save" %>
  <% else %>
    <span class="red_note">Login to save your search.</span>
  <% end %>
<% end %>
