<div class="saved_search_title" id="search_set_title_<%= search_set.id %>">
    <span class="search_set_title"><strong>Telescope</strong> "<%= search_set.search_query_string.capitalize %>"</span>
    <div class="delete_button">
        <%= form_tag '/search_sets/' + search_set.id.to_s, :method => :delete, :class => "delete_set" %>
            <%= submit_tag "Remove" %>
        </form>                    
    </div>
</div>

<div class="saved_search_set_posts" id="search_set_body_<%= search_set.id %>">
    <%= render :template => 'posts/index', :locals => { :@posts => search_set.topics } %>
    <div class="search_set_summary">This telescope has <%= pluralize(search_set.posts.count, "Post") %> over <%= pluralize(search_set.topics.count, "Topic") %>.</div>
</div>