<% content_for :head do %>
    <script type="text/javascript" charset="utf-8">
        
        function reset_search()
        {
            $('#search_set_search_query_string').val("");
            $('#found_posts').html("");
        }
        
        function render_inline_post(data)
        {
            $('#found_posts').append('<div class="inline_post">' + data.title + " Replies: "  + data.reply_count + "</div>");
        }
        
        function search_key_changed()
        {
            if($('#search_set_search_query_string').val().length > 3)
            {
                $.getJSON("/posts.json?search=" + $('#search_set_search_query_string').val(), function(data){
                    $('#found_posts').html("");
                    for(var i = 0; i < data.length; i++)
                        render_inline_post(data[i]);
                });
            }
        }
        
        $(document).ready(function(){
            $('#search_set_search_query_string').keyup(function(){
                search_key_changed();
            });
            
            $('#new_search_set').submitWithAjax();
            $('.delete_set').submitWithAjax();
        });
        
    </script>
<% end %>


<div id="search_set" >
    <%= render :template => "search_sets/_form", :locals => { :@search_set => SearchSet.new } %>    
</div>

<div id="found_posts">
    
</div>

<div id="saved_search_set_containers">
    <% @search_sets.each do |search_set| %>
        <div class="saved_search_set">
            
            <div class="saved_search_title">
                <%= search_set.search_query_string %>
                <%= form_tag '/search_sets/' + search_set.id.to_s, :method => :delete, :class => "delete_set" %>
                    <%= submit_tag "Delete" %>
                </form>
            </div>
            
            <div class="seved_search_posts">
                <% search_set.posts.each do |post| %>
                    <div class="search_post"><%= post.title %></div>
                <% end %>
            </div>
            
        </div>
    <% end %>
</div>

<% content_for :sub_container do %>
    <h3>Create Post</h3>
    <%= render :template => "posts/_form", :locals => { :@post => Post.new } %>
<% end %>