<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @search_set.user_id %>
</p>

<p>
  <b>Search query string:</b>
  <%= @search_set.search_query_string %>
</p>


<%= link_to 'Edit', edit_search_set_path(@search_set) %> |
<%= link_to 'Back', search_sets_path %>
