<!DOCTYPE html>
<html>
<head>
  <title>Telescope</title>
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag "jquery.js", "tiny_mce/jquery.tinymce.js", "highlight.js", "application.js" %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<% if notice %>
	<div id="notice"><%= notice %></div>
<% end %>

<% if alert %>
	<div id="alert"><%= alert %></div>
<% end  %>

<div id="header_container">      
	<div id="title">
		<%= link_to 'Telescope', '/' %>
	</div>

	<div id="title_right">
	    <% if user_signed_in? %>  
	        Signed in as <%= current_user.name %>. Not you?  
	        <%= link_to "Sign out", destroy_user_session_path %>  
	    <% else %>  
	        <%= link_to "Sign up", new_user_registration_path %> or  
	        <%= link_to "Sign in", new_user_session_path %>
	    <% end %>		
	</div>
		
</div>

<div id="main_container">
    <%= yield %> 
</div>

<div id="sub_container">
    <%= yield :sub_container %>
</div>

<div id="footer">
	This forum has a total of <%= Post.find(:all).count %> posts. <br />
	Powered By <a href="http://telescopeapp.net">Telescope</a> &copy; <%= Time.now.year %>
</div>

</body>
</html>